<nav class="navbar navbar-expand-sm navbar-dark">
  <a href="#" class="navbar-brand" [routerLink]="['/home']">
      <img src="assets/images/logo.png" style="max-height: 45px;">
  </a>       
  <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
      <span class="navbar-toggler-icon"></span>
  </button>        
  <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item" routerLinkActive="active"><a class="nav-link" href="#" [routerLink]="['/home']"><i class="fa fa-fw fa-home"></i>Home</a></li>
          <li><a class="nav-link" href="#"><i class="fa fa-fw fa-info"></i>About</a></li>
          <li><a class="nav-link" href="#"><i class="fa fa-fw fa-plane"></i>Airlines</a></li>
          <li><a class="nav-link" href="#"><i class="fa fa-fw fa-car"></i>Rent-a-Car Services</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li class="nav-item" routerLinkActive="active"><a class="nav-link" href="#" [routerLink]="['/register']"><i class="fa fa-fw fa-user-plus"></i>Register</a></li>
          <li class="nav-item" routerLinkActive="active"><a class="nav-link" href="#" [routerLink]="['/login']"><i class="fa fa-fw fa-user"></i>Login</a></li>
          <!-- <li><a class="nav-link" href="#">Logout</a></li> -->
      </ul>
  </div>  
</nav>